

.root {
}

.commonwidth {
    width: 1000px;
    margin: 0 auto;
}

.header {
    /*设置一个宽度*/
    height: 150px;
    background-color: #bfa;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    background-color: orange;
    /*padding: 10px;*/
}


.content_child1 {
    width: 200px;
    height: 100%;
    background-color: #ffd800;
    float: left;
}

.content_child2 {
    width: 580px;
    height: 100%;
    background-color: #1794ee;
    float: left;
    margin: 0 10px;
}

    .content_child2 .top1 {
        width: 560px;
        height: 180px;
        background-color: #f17218;
        margin: 10px;
    }

    .content_child2 .top2 {
        width: 560px;
        height: 190px;
        background-color: #b5f319;
        margin: 0 10px;
    }

.content_child3 {
    width: 200px;
    height: 100%;
    background-color: #7ced18;
    float: left;
}

.footer {
    height: 150px;
    background-color: silver;
}



.nav {
    width: 990px;
    height: 32px;
    margin: 50px auto;
    background-color: #bfa;
    background-image: url(./img/bgdimage.png);
    /*
        * 设置水平方向重复
    */
    background-repeat: repeat-x;
}


.bgd1 {
    width: 1000px;
    height: 600px;
    background-color: #bfa;
    background-image: url(./img/smallpic.png);
    margin: 50px auto;
    background-repeat: no-repeat;
    /*
        * 背景图片默认是贴着元素的左上角显示
        * 通过background-position可以调整背景图片在元素中的位置(动的是图片)
        * 可选值:
               top bottom left right center 通过组合两个值来指定一个背景图片的位置
               top left 左上
               center right 中右
               如果只给出一个值,则第二个值默认是center
               就是一个九宫格的布局
               但是有局限,不灵活

        可以通过  xpos,ypos 偏移量来设置
            第一个值是水平偏移量
               -  如果指定的是一个正值,泽图片会向右移动指定像素(负值向左移动)
            第二个是垂直偏移量
               -  如果指定的是一个正值,泽图片会向下移动指定像素(负值向上移动)
            和position 的定位规则一致
        指定偏移量
          background-position: 100px 0px;
        非常灵活
    */
    background-position: 100px;
    /*

    */
}


body {
    padding: 0;
    margin: 0;
    background-image: url(./img/smallpic.png);
    background-repeat: no-repeat;
    height: 5000px;
    background-position: center;
    /*
        * background-attachment用来设置背景图片是否随页面一起滚动
        * 可选值:
                scroll,默认值,背景图片随着窗口滚动
                fixed,背景图片会固定在某一位置,不随页面滚动
                设置为fixed之后,背景图片的定位永远相对于浏览器的窗口
    */
    background-attachment: fixed;
}


