body
{
}


.box1 {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    /*
                使用background-image来设置背景图片
                   -  如果背景图片大于元素,默认会显示图片的左上角
                   -  如果背景图片和元素一样大,则会将背景图片全部显示
                   -  如果背景图片小于元素的大小,则会默认将背景颜色平铺,以充满元素

                可以同时为一个元素指定背景颜色和背景图片,这样背景颜色会成为背景图片的底色
                一般情况下设置背景图片时,会同时指定背景颜色,一般背景图片和背景颜色会成对出现
            */
    background-image: url(http://k.zol-img.com.cn/sjbbs/7692/a7691515_s.jpg);
    background-color: #bfa;
    background-repeat:no-repeat;
}